/* Estilo general para el contenedor */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f9f5; /* Fondo blanco con un toque verde */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Menú de navegación */
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f05252;
}

/* Submenú (para mostrar debajo de los elementos del menú) */
.submenu {
    display: none; /* Ocultar el submenú por defecto */
    position: absolute;
    top: 100%; /* Justo debajo del elemento padre */
    left: 0;
    background-color: #f05757;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.submenu li {
    margin: 0;
}

.submenu a {
    color: white;
    padding: 10px;
    white-space: nowrap; /* Evita que el texto largo se divida */
}

.submenu a:hover {
    background-color: #979494;
}

/* Mostrar el submenú al pasar el ratón */
nav ul li:hover > .submenu {
    display: block;
}

/* Para el logo */
.logo img {
    height: 60px;
    width: 60px;
}

/* Estilo de botones */
.btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
}

.btn-primary {
    background: #6bdfff;
    color: #fff;
}

.btn-secondary {
    background: #1dd1a1;
    color: #fff;
}

/* Estilos del encabezado */
header {
    background-color: #e43636de;
    color: white;
}

/* Opciones del menú cuando el usuario está logueado */
.logged-in-menu {
    margin-left: auto;
}

.logged-in-menu a {
    color: white;
    padding: 10px 15px;
}

/* Estilos para el pie de página */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
